<p id="notice"><%= notice %></p>

<h1>Lojas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.address %></td>
        <td><%= store.user.email %></td>
        <td><%= link_to 'Metas', admin_store_goals_path(store_id: store), class: 'btn btn-default' %></td>
        <td><%= link_to 'Visualizar', admin_store_path(store), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Editar', edit_admin_store_path(store), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Remover', admin_store_path(store), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Loja', new_admin_store_path, class: 'btn btn-primary' %>
