<p id="notice"><%= notice %></p>

<h1>Admin Stores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>User</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.name %></td>
        <td><%= store.address %></td>
        <td><%= store.user.email %></td>
        <td><%= link_to 'Metas', admin_store_goals_path(store_id: store) %></td>
        <td><%= link_to 'Show', admin_store_path(store) %></td>
        <td><%= link_to 'Edit', edit_admin_store_path(store) %></td>
        <td><%= link_to 'Destroy', admin_store_path(store), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Store', new_admin_store_path %>
