<p id="notice"><%= notice %></p>

<h1>Vendedores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vendors.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td><%= link_to 'Show', admin_vendor_path(vendor) %></td>
        <td><%= link_to 'Edit', edit_admin_vendor_path(vendor) %></td>
        <td><%= link_to 'Destroy', admin_vendor_path(vendor), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Vendedor', new_admin_vendor_path, class: 'btn btn-default' %>
