<div id="goal-amount" data-amount="<%= @goal.amount %>">
  <span>Total da meta: </span>
  <%= @goal.amount %>
</div>
<div>
  <span>Valor restante (precisa chegar a zero):</span>
  <span id="remaining"></span>
</div>
<%= form_tag admin_store_goal_days_path do %>

  <% @days.each_with_index do |day, index| %>
    <div class="row">
      <div class="col-md-3">
        <%= label_tag :date, 'Data' %>
        <%= date_field_tag :date, day.date, name: "days[#{index}][date]" %>
      </div>
      <div class="col-md-3">
        <%= label_tag :amount, 'Valor' %>
        <%= text_field_tag :amount, day.amount, name: "days[#{index}][amount]", id: "amount#{index}", class: "amount" %>
      </div>

      <div class="col-md-2">
        <%= label_tag :vendor, 'Vendedores' %>
        <%= select_tag :vendor, options_for_select(Vendor.where(store: @goal.store).collect{ |u| [u.name, u.id]}), name: "days[#{index}][vendors][]"  %>
        <button class="btn add-more" type="button">+</button>
      </div>
    </div>
  <% end %>

  <% hidden_field_tag :goal, @goal %>
  <div class="actions">
    <%= submit_tag nil, disabled: true, id: 'submit-button' %>
  </div>
<% end %>