<p id="notice"><%= notice %></p>

<h1>Admin days</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @days.each do |day| %>
      <tr>
        <td><%= day.start_date %></td>
        <td><%= day.end_date %></td>
        <td><%= day.ref_month %></td>
        <td><%= link_to 'Show',    admin_store_goal_day_path(day, store_id: @store) %></td>
        <td><%= link_to 'Edit',    edit_admin_store_goal_day_path(day, store_id: @store) %></td>
        <td><%= link_to 'Destroy', admin_store_goal_day_path(day, store_id: @store), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin day', new_admin_store_goal_day_path(store_id: @store) %>
