<%= simple_form_for([:admin, :store, @goal]) do |form| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this admin_goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, required: true %>
  </div>

  <div class="field">
    <%= form.label :ref_month %>
    <%= form.input_field :ref_month, collection: I18n. t("date.month_names"), include_blank: 'Selecione um mês' %>
  </div>

  <div class="field">
    <%= form.hidden_field :store_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
