<p id="notice"><%= notice %></p>

<h1>Metas</h1>
<h4>Loja: <%= get_store_by_id(@store).name %></h4>

<table>
  <thead>
    <tr>
      <th>Início</th>
      <th>Fim</th>
      <th>Mês de referência</th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= l(goal.start_date.to_date) %></td>
        <td><%= l(goal.end_date.to_date) %></td>
        <td><%= goal.ref_month %></td>
        <td><%= link_to 'Visualizar', admin_store_goal_path(goal, store_id: @store), class: 'btn btn-primary' %></td>
        <td><%= link_to 'Remover', admin_store_goal_path(goal, store_id: @store), class: 'btn btn-primary', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Meta', new_admin_store_goal_path(store_id: @store), class: 'btn btn-primary' %>
